/* pagina mural */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

header{
    width:100%;
    display:flex;
    align-items:center;
    padding:30px;
    justify-content: space-between;
    background:red;
    list-style: none;
    font-size: 20px;
    color:white;
    background: linear-gradient(319deg, #ba2d0b 0%, #fe7f2d 37%, #ffbf46 100%);
}
header ul{
  display:flex;
  width:30%; 
  justify-content: space-between;
  background:red;
}
header li{
  list-style: none;
}
header a {
  color:white;
  border-bottom: 2px solid transparent;
  transition: all .55s ease
}
header a:hover{
  border-bottom: 2px solid white;
  cursor: pointer;
}
#main{
  display:flex;
}

section{
  background-color: black;
  width:30%;
  height:480px;;
  display:flex;
  align-items: center;
  flex-direction: column;
  color:white;
  ;
}
.divCadastro{
  /* background:blue; */
  height:35px;
  display:flex;
  justify-content: center;;
}
#teste{
  /* height:50%; */
  /* background: purple; */
  color:white;
  background:black;
  max-height: 1000px;
  overflow-y: scroll;
  display:flex;
  flex-direction: column;
  align-items: center;
}
article{
  background:black;
  color:white;
  width:1000px;
  height:auto;
}


canvas {
  width: 100% !important;
  height: 100% !important;
}