body {
  margin: 0;
  padding: 0;
  background: linear-gradient(319deg, #ba2d0b 0%, #fe7f2d 37%, #ffbf46 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}
header {
  position:fixed;
  right: 0;
  top:0;
  z-index: 1000;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding: 33px ;
  background:transparent;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color:white

}
.navlist{
  display:flex;
}
.navlist a {
  color:white;
  margin-left:60px;
  margin-right:70px;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease
}
.navlist a:hover{
  border-bottom: 2px solid white;
  cursor: pointer;
}



.container {
  display: flex;
  width: 80%;
  margin: auto;
}
.agora {
  font-weight: 800;
}
.banner {
  height: var(--tamanho-banner);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  font-size: 36px;
  color: white;
  width: 280px;
}

.banner .container span {
  font-weight: 800;
}

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box {
  width: 280px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box p {
  text-align: center;
}

.login {
  height: var(--tamanho-login);
  height: 1000px;
  background: linear-gradient(319deg, #ba2d0b 0%, #fe7f2d 37%, #ffbf46 100%);
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  opacity: 0.7;
  width: 30%;
  border-color: #e6005a;
  background: #e5e5e5;
  
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: red;
  row-gap: 20px;
}

.card-cadastro {
  height: 60%;
}
.card-cadastro h2{
  padding-top: 20px;
}

.card-login {
  height: 60%;
  
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  opacity: 1.0;
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 40px;
}

.formulario span {
  
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid black;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: red;
  width: 100%;
  
  height: 30px;
  align-self: center;

}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: black 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}



