* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    font-family:'Poppins',sans-serif; /* fallback */
    max-width: 1280px;
    /* o máximo que o body pode ter é 1280px
    comentando essa característica é possível ver a diferença */
    margin: 0 auto;
    /* 0 no Y e auto no X*/
    background: linear-gradient(319deg, #ba2d0b 0%, #fe7f2d 37%, #ffbf46 100%);
    color: #333333;
}

header {
    position:fixed;
    right: 0;
    top:0;
    z-index: 1000;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 33px ;
    background:transparent;
    
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color:black

}
.navlist{
    display:flex;
}
.navlist a {
    /* color:white; */
    color:black;
    margin-left:60px;
    margin-right:70px;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease
}
.navlist a:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}
main {
    font-size: 14px;
    font-weight:400;
    position: relative;
    padding: 25px;
    min-height: 100vh;
    height: 100%;
    width:100%;
    display:grid;
    align-items: center;
    gap: 2rem;
    ;
    /* espaçamento interno da div, para separar o conteúdo da parede */
}
.listagem-pokemon {
    /* font-weight: 100; */
    /* font-size: */
    display: flex;
    flex-wrap: wrap;
    /* o wrap  */
    gap: 30px;
    /* espaçamento entre os cards */
    justify-content: center;
    /* para deixar os cartões centrados do site */
    /* a display tem como padrão deixar o flex-direction no row */
    /* antes do diplay: flex, ele tava no column */
}
main .cartao-pokemon{
    background-color: #e9eef1;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}
main .cartao-pokemon:hover{
    transform: scale(1.05);
    background-color: #96d9d6;
}
.informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 8px;
}
 .informacoes span{
    padding: 3px 6px;
    font-size: 17px;
    
} 
.cartao-pokemon img {
    width:90px;
    height:90px;
}
.tipos {
    display: flex;
    gap :15px;
}
.tipo {
    padding:8px;
    border-radius: 10px;
}
.grama {
    background-color: #77CC55;
}
.veneno {
    background-color: #D2A7E0;
}
.agua{
    background-color:#3399ff ;
}
.fogo{
    background-color:#FF4422;
}
.normal{
    background-color:#AAAA99;
}
.eletrico{
    background-color: #FFCC33;
}
.inseto{
    background-color:#AABB22
}
.dark{
    background-color:#775522
}
.dragao{
    background-color:#7766EE;
}
.fada{
    background-color:#EE99EE;
}
.ferro{
    background-color: #AAAABB
}
.psiquico{
    background-color:#FF5599
}
.ice{
    background-color: #66CCFF;
}
.terra{
    background-color: #DDBB55;
}
.pedra{
    background-color:#BBAA66;
}
.voador{
    background-color: #8899FF
}
.descricao {
    max-height:80px;
    overflow-y:scroll ;
}
*::-webkit-scrollbar {
    width:12px;
}

*::-webkit-scrollbar-track {
    background: #f1e9e9;
}
*::webkit-scrollbar-thumb{
    background-color: #582965;
    border-radius: 10px;
    border: 3px solid #ffffff
}

