* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position:fixed;
    right: 0;
    top:0;
    z-index: 1000;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 33px ;
    background:transparent;
    
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color:white

}
.navlist{
    display:flex;
}
.navlist a {
    color:white;
    margin-left:60px;
    margin-right:70px;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease
}
.navlist a:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}
.pokemon{
    background:#ba2d0b;
    height: 90%;
    width:100%;
    /* esquerda para direita, a cor vai ficando cada mais escuro */
    background: linear-gradient(319deg, #ba2d0b 0%, #fe7f2d 37%, #ffbf46 100%);
    position: relative;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding:  10%;
}

.pokemon-text h1{
    font-size:90px;
    line-height:1;
    color: white;
    margin: 0 0;
}
.pokemon-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: -10px;
    margin-left:5px;
}
.pokemon-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
}
.pokemon-img img{
    width: 600px;
    height: auto;
}
.pokemon a{
    color:white;
    background:#ba2d0b;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight:500;
    border-radius: 30px;
    transition: all .55s ease;
}
.pokemon a:hover{
    background: transparent;
    border: 1px solid white;
}
.section_descricao{
    font-size:90px;
    color:white
}
footer{
    background-color: black;
    color:white;
    width:100%;
    height:140%;
}

#footer_conteudo{
    display:grid;
    grid-template-columns: repeat(2,1fr);

}
footer ul {
    display:flex;
    flex-direction: column;
    margin:50px;
    
}
#footer_nav a {
    margin:10px;
    text-decoration: none;
}
.input_grupo{
    display:flex;
    align-items:center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}
footer textarea{
    width: 100%;
}
footer button{
    padding:5px 10px;
}

#footer_copyright {
    height:150%;
    display:flex;
    justify-content: space-around;
}